<div class="row">
  <div class="col-md-6 col-md-offset-3">

      <% if logged_in? %>

        <h3 class="text-center"><%= "Bienvenue #{@current_user.first_name} ..."%></h3>
        <table class="table">
          <thead>
            <tr>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.user_email %></td>
              </tr>
              <% end %>
          </tbody>
        </table>

      <% else %>

        <p class="text-center">Il semblerait que tu ne connaisse pas le dresscode mecton !! Connecte-toi d'abord !</p>
        <%= link_to('Se connecter', new_session_path, :class => "btn btn-secondary btn-lg btn-block") %>

      <%end%>
  <div>
</div>
